
@font-face {
  font-family: 'BentonSansBBVA-Bold';
  src: url('./assets/BentonSansBBVA-Bold.ttf') format('truetype'); 

  font-family: 'BentonSansBBVA-Book';
  src: url('./assets/BentonSansBBVA-Book.ttf') format('truetype'); 

}

body {
  margin: 0;
  font-family: 'BentonSansBBVA-Book';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
