
@font-face {

  font-family: 'BentonSansBBVA-Book';
  src: url('./assets/BentonSansBBVA-Book.ttf') format('truetype'); 

}

@font-face {
  font-family: 'BentonSansBBVA-Bold';
  src: url('./assets/BentonSansBBVA-Bold.ttf') format('truetype'); 

}

@font-face {
  font-family: 'BentonSansBBVA-BookItalic';
  src: url('./assets/BentonSansBBVA-BookItalic.ttf') format('truetype'); 

}


@font-face {
  font-family: 'BentonSansBBVA-Light';
  src: url('./assets/BentonSansBBVA-Light.ttf') format('truetype'); 

}

@font-face {
  font-family: 'BentonSansBBVA-Medium';
  src: url('./assets/BentonSansBBVA-Medium.ttf') format('truetype'); 

}

@font-face {
  font-family: 'BentonSansBBVA-MediumItalic';
  src: url('./assets/BentonSansBBVA-MediumItalic.ttf') format('truetype'); 

}

body {
  margin: 0;
  font-family: 'BentonSansBBVA-Book';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
